/* Палитра цветов */
$color-purple: #f9f5ff;
$color-purple-hover:#7f56d9;
$color-blue: #eff6ff;
$color-blue-hover:#2b68e5;
$color-green: #effaf3;
$color-green-hover: #2c9d67;
$color-orange: #fffaec;
$color-orange-hover: #ff7900;
$color-cream: #ffeee0;
$color-cream-hover: #9f4709;
$color-pink: #ffe8fa;
$color-pink-hover: #d95682;
$color-gold: #bb8a4d;
$color-gold-hover:#9b703b;
$color-gold-active:#76552d;
$color-dark-grey: #dcdcdc;

$color-dark-grey-text: #838383;
$color-light: #F7F7F7;
$color-dark: #000;
$color-white:#fff;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-onest: 'Onest', sans-serif;
$font-ubuntu-regular: 400;
$font-ubuntu-light: 300;
$font-ubuntu-medium: 500;
$font-ubuntu-bold: 700;
$font-ubuntu-italic: italic;
$font-lato-medium: 500;
$font-lato-bold: 700;

/* Глобальные стили */
body {
  font-family: $font-ubuntu;
  font-weight: $font-ubuntu-regular;
  font-family: $font-lato;
  font-weight: $font-lato-bold;
  font-family: 'Onest', sans-serif;

}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* Секция фильтров */
.filters-section {
  background-color:  #564dbb;
  padding: 1rem ;

  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;

  .form-select,
  .form-control {
    font-family: $font-ubuntu;
    font-weight: $font-ubuntu-regular;
    font-size: 14px;

    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 9px 16px;
    background: rgba(70, 66, 66, 0.6);
  }
  .form-select option {
    color: $color-dark;
  }
  .btn {
    display: flex;
    margin-left: auto;
    font-family: $font-ubuntu;
    font-weight: $font-ubuntu-regular;
    font-size: 14px;
    color: #fff;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 9px 16px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

/* Теги-фильтры */
.tag-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 24px;
  margin-bottom: 24px;
}
.tag {

  font-family:$font-lato;
  font-weight: $font-lato-medium;
  border-radius: 18px;
  padding: 8px 16px 8px 16px;
  font-size: 12px;
  line-height: 133%;
  color: #fff;
  border: none;
  &.purple { background-color: $color-purple;
              color: #7f56d9;
    &:active { background-color:$color-purple-hover;
      color: #fff;

    }
    &:hover {
      box-shadow: 0 0 0 1px $color-purple-hover;
    }
  }
  &.blue {
    background-color: $color-blue;
    color: #2b68e5;
    &:active { background-color:$color-blue-hover;
      color: #fff;

    }
    &:hover {
      box-shadow: 0 0 0 1px $color-blue-hover;
    }
  }
  &.green { background-color: $color-green;
    color: #2c9d67;
    &:active { background-color:$color-green-hover;
      color: #fff;

    }
    &:hover {
      box-shadow: 0 0 0 1px $color-green-hover;
    }}
  &.orange { background-color: $color-orange;
    color: #ff7900;
    &:active { background-color:$color-orange-hover;
    color: #fff;  }
    &:hover {
      box-shadow: 0 0 0 1px $color-orange-hover;
    }}
  &.cream { background-color: $color-cream;
    color: #9f4709;
    &:active { background-color:$color-cream-hover;
      color: #fff;

    }
    &:hover {
      box-shadow: 0 0 0 1px $color-cream-hover;
    }}
  &.pink { background-color: $color-pink;
    color: #d95682;
    &:active { background-color:$color-pink-hover;
      color: #fff;

    }
    &:hover {
      box-shadow: 0 0 0 1px $color-pink-hover;
    }}
}

/* Карточка события */
.event-card {
  height: 100%;
  border: 24px solid #F2F2F2;
  border-bottom : 16px solid #F2F2F2;
  border-radius: 24px;
  background: #F2F2F2;


  overflow: hidden;

  .card-img-container {
    .btn {
      width: 32px;
      height: 32px;
      margin-top: 12px;
      margin-right: 12px;
    }
    .tag-filters {
      margin: 8px;

    }
  }
  .card-img-top {
    border-radius: 18px;
    height: 270px;

    object-fit: cover;
  }
  .event-datetime {
    font-family: $font-ubuntu;
    font-weight: $font-ubuntu-regular;
    font-size: 0.875rem;
    color: $color-dark;

    margin-bottom: 8px;

    font-size: 14px;
    line-height: 114%;
    color: $color-dark-grey-text;
    img {
      margin-bottom: 3px;
    }

  }
  .card-body {
    padding: 0;
    padding-top: 16px;
  }
  .card-title {
    font-family: $font-lato;
    font-weight: $font-lato-bold;
    font-size: 19px;
    line-height: 130%;

    margin-bottom: 16px;
    color: $color-dark;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;

  }
  .price {
    font-family: $font-lato;
    font-weight: $font-lato-bold;
    font-size: 14px;
    line-height: 143%;
    background-color: $color-gold;
    color: #fff;
    border-radius: 18px;
    padding: 4px 8px;
    width: 83px;
    height: 28px;

  }
  .status-cancelled {
    font-family: $font-lato;
    font-weight: $font-lato-bold;
    font-size: 14px;
    line-height: 143%;
    background-color: $color-dark-grey;
    color: $color-dark;
    border-radius: 18px;
    padding: 4px 8px;

  }

}

.event-card.event-card-cancelled{
  border: 24px solid $color-white;
  border-bottom : 16px solid $color-white;
  border-radius: 18px;
  background: $color-white;
  box-shadow: 0 0 0 1px #f4f4f4;
  .card-title {
    color: #747474;
  }

}

/* Кнопка-иконка в карточке */
.icon-btn {
  background-color: #F2F2F2;

  border-radius: 8px;

}
.banner-block {
  img {
    width: 100%;
  }
}
.vertical-banner {
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }

}
.button-all {
  display: flex;
  justify-content: center;
  margin: auto;
  .btn {
    background-color: $color-gold!important;
    font-family: $font-lato;
    font-weight: $font-lato-bold;
    font-size: 18px;
    line-height: 178%;
    color: $color-white;
    border-radius: 16px;

    padding: 8px 16px;
    &:hover {
      background-color: $color-gold-hover!important;
      color: $color-white;
    }
    &:active {
      background-color: $color-gold-active!important;
      color: $color-white;
    }



  }
}



