@charset "UTF-8";
/* Палитра цветов */
/* Глобальные стили */
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-family: "Onest", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* Секция фильтров */
.filters-section {
  background-color: #564dbb;
  padding: 1rem;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}
.filters-section .form-select,
.filters-section .form-control {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 9px 16px;
  background: rgba(70, 66, 66, 0.6);
}
.filters-section .form-select option {
  color: #000;
}
.filters-section .btn {
  display: flex;
  margin-left: auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 9px 16px;
}
.filters-section .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Теги-фильтры */
.tag-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 24px;
  margin-bottom: 24px;
}

.tag {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  border-radius: 18px;
  padding: 8px 16px 8px 16px;
  font-size: 12px;
  line-height: 133%;
  color: #fff;
  border: none;
}
.tag.purple {
  background-color: #f9f5ff;
  color: #7f56d9;
}
.tag.purple:active {
  background-color: #7f56d9;
  color: #fff;
}
.tag.purple:hover {
  box-shadow: 0 0 0 1px #7f56d9;
}
.tag.blue {
  background-color: #eff6ff;
  color: #2b68e5;
}
.tag.blue:active {
  background-color: #2b68e5;
  color: #fff;
}
.tag.blue:hover {
  box-shadow: 0 0 0 1px #2b68e5;
}
.tag.green {
  background-color: #effaf3;
  color: #2c9d67;
}
.tag.green:active {
  background-color: #2c9d67;
  color: #fff;
}
.tag.green:hover {
  box-shadow: 0 0 0 1px #2c9d67;
}
.tag.orange {
  background-color: #fffaec;
  color: #ff7900;
}
.tag.orange:active {
  background-color: #ff7900;
  color: #fff;
}
.tag.orange:hover {
  box-shadow: 0 0 0 1px #ff7900;
}
.tag.cream {
  background-color: #ffeee0;
  color: #9f4709;
}
.tag.cream:active {
  background-color: #9f4709;
  color: #fff;
}
.tag.cream:hover {
  box-shadow: 0 0 0 1px #9f4709;
}
.tag.pink {
  background-color: #ffe8fa;
  color: #d95682;
}
.tag.pink:active {
  background-color: #d95682;
  color: #fff;
}
.tag.pink:hover {
  box-shadow: 0 0 0 1px #d95682;
}

/* Карточка события */
.event-card {
  height: 100%;
  border: 24px solid #F2F2F2;
  border-bottom: 16px solid #F2F2F2;
  border-radius: 24px;
  background: #F2F2F2;
  overflow: hidden;
}
.event-card .card-img-container .btn {
  width: 32px;
  height: 32px;
  margin-top: 12px;
  margin-right: 12px;
}
.event-card .card-img-container .tag-filters {
  margin: 8px;
}
.event-card .card-img-top {
  border-radius: 18px;
  height: 270px;
  object-fit: cover;
}
.event-card .event-datetime {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #000;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 114%;
  color: #838383;
}
.event-card .event-datetime img {
  margin-bottom: 3px;
}
.event-card .card-body {
  padding: 0;
  padding-top: 16px;
}
.event-card .card-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 130%;
  margin-bottom: 16px;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.event-card .price {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  background-color: #bb8a4d;
  color: #fff;
  border-radius: 18px;
  padding: 4px 8px;
  width: 83px;
  height: 28px;
}
.event-card .status-cancelled {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  background-color: #dcdcdc;
  color: #000;
  border-radius: 18px;
  padding: 4px 8px;
}

.event-card.event-card-cancelled {
  border: 24px solid #fff;
  border-bottom: 16px solid #fff;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0 0 0 1px #f4f4f4;
}
.event-card.event-card-cancelled .card-title {
  color: #747474;
}

/* Кнопка-иконка в карточке */
.icon-btn {
  background-color: #F2F2F2;
  border-radius: 8px;
}

.banner-block img {
  width: 100%;
}

.vertical-banner {
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
}
.vertical-banner img {
  width: 100%;
  height: 100%;
}

.button-all {
  display: flex;
  justify-content: center;
  margin: auto;
}
.button-all .btn {
  background-color: #bb8a4d !important;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: #fff;
  border-radius: 16px;
  padding: 8px 16px;
}
.button-all .btn:hover {
  background-color: #9b703b !important;
  color: #fff;
}
.button-all .btn:active {
  background-color: #76552d !important;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
