@charset "UTF-8";
/* Палитра цветов */
/* Глобальные стили */
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-family: "Onest", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

/* Секция фильтров */
.filter-block {
  background-color: #564dbb;
  border-radius: 0 0 24px 24px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
@media (max-width: 400px) {
  .filter-block {
    border-radius: 0 0 16px 16px;
  }
}
.filter-block__icon {
  margin-left: 8px;
  display: inline-flex !important;
  align-items: center;
}
@media (max-width: 768px) {
  .filter-block__icon {
    margin-left: 0px;
    padding: 4px 2px;
  }
}
@media (max-width: 577px) {
  .filter-block__icon {
    margin-left: auto;
  }
}
.filter-block__icon.rotated .filter-block__arrow {
  transform: rotate(180deg);
}
.filter-block__icon .filter-block__arrow {
  transition: transform 0.3s ease;
}
.filter-block .form-group {
  margin-right: 1px;
}
.filter-block__filter-placeholder {
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  pointer-events: none;
  transition: 0.2s;
}
.filter-block input[type=date] {
  color: transparent;
}
.filter-block__select, .filter-block__input {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 9px 16px;
  background: rgba(70, 66, 66, 0.6);
}
.filter-block__input-left {
  border-radius: 20px 0 0 24px;
  margin-right: 1px;
}
.filter-block__input-right {
  border-radius: 0 20px 20px 0;
}
.filter-block__select:focus, .filter-block__input:focus {
  outline: none;
  box-shadow: none;
}
.filter-block__toggle {
  display: flex;
  margin-left: auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 9px 16px;
}
@media (max-width: 768px) {
  .filter-block__toggle {
    font-size: 0px;
  }
}
@media (max-width: 576px) {
  .filter-block__toggle {
    font-size: 14px !important;
    width: 100%;
  }
}
.filter-block__toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 768px) {
  .filter-block .filter-block__extra {
    flex-wrap: wrap;
  }
}

/*
.filters-section {
  background-color:  #564dbb;
  padding: 1rem ;

  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;

  .form-select,
  .form-control {
    font-family: $font-ubuntu;
    font-weight: $font-ubuntu-regular;
    font-size: 14px;

    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 9px 16px;
    background: rgba(70, 66, 66, 0.6);
  }
  .form-select option {
    color: $color-dark;
  }
  .btn {
    display: flex;
    margin-left: auto;
    font-family: $font-ubuntu;
    font-weight: $font-ubuntu-regular;
    font-size: 14px;
    color: #fff;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 9px 16px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
*/
/* Теги-фильтры */
.tag-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 400px) {
  .tag-filters {
    flex-wrap: nowrap;
    overflow: hidden;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.tag {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  border-radius: 18px;
  padding: 8px 16px 8px 16px;
  font-size: 12px;
  line-height: 133%;
  color: #fff;
  border: none;
}
.tag.purple {
  background-color: #f9f5ff;
  color: #7f56d9;
}
.tag.purple:active {
  background-color: #7f56d9;
  color: #fff;
}
.tag.purple:hover {
  box-shadow: 0 0 0 1px #7f56d9;
}
.tag.blue {
  background-color: #eff6ff;
  color: #2b68e5;
}
.tag.blue:active {
  background-color: #2b68e5;
  color: #fff;
}
.tag.blue:hover {
  box-shadow: 0 0 0 1px #2b68e5;
}
.tag.green {
  background-color: #effaf3;
  color: #2c9d67;
}
.tag.green:active {
  background-color: #2c9d67;
  color: #fff;
}
.tag.green:hover {
  box-shadow: 0 0 0 1px #2c9d67;
}
.tag.orange {
  background-color: #fffaec;
  color: #ff7900;
}
.tag.orange:active {
  background-color: #ff7900;
  color: #fff;
}
.tag.orange:hover {
  box-shadow: 0 0 0 1px #ff7900;
}
.tag.cream {
  background-color: #ffeee0;
  color: #9f4709;
}
.tag.cream:active {
  background-color: #9f4709;
  color: #fff;
}
.tag.cream:hover {
  box-shadow: 0 0 0 1px #9f4709;
}
.tag.pink {
  background-color: #ffe8fa;
  color: #d95682;
}
.tag.pink:active {
  background-color: #d95682;
  color: #fff;
}
.tag.pink:hover {
  box-shadow: 0 0 0 1px #d95682;
}

/* Карточка события */
.event-card {
  height: 100%;
  border: 24px solid #f2f2f2;
  border-bottom: 16px solid #f2f2f2;
  border-radius: 24px;
  background: #f2f2f2;
  overflow: hidden;
}
@media (max-width: 400px) {
  .event-card {
    border: 8px solid #f2f2f2;
    box-shadow: 0 4px 16px 0 rgba(123, 104, 56, 0.15), 0 0 25px 0 rgba(123, 104, 56, 0.1);
    border-radius: 16px;
  }
}
.event-card .card-img-container .btn {
  width: 32px;
  height: 32px;
  margin-top: 12px;
  margin-right: 12px;
  background-color: #f2f2f2;
  border-radius: 8px;
  background-image: url("img/bookmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 18px;
  border: none;
  padding: 0;
}
@media (max-width: 400px) {
  .event-card .card-img-container .btn {
    margin-top: 8px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-size: 10px 14px;
  }
}
.event-card .card-img-container .btn.active {
  background-image: url("img/bookmark_check.svg");
  background-size: 32px 32px;
}
@media (max-width: 400px) {
  .event-card .card-img-container .btn.active {
    background-size: 24px 24px;
  }
}
.event-card .card-img-container .tag-filters {
  margin: 8px;
}
.event-card .card-img-top {
  border-radius: 18px;
  height: 270px;
  object-fit: cover;
}
@media (max-width: 400px) {
  .event-card .card-img-top {
    height: 151px;
    border-radius: 12px;
  }
}
.event-card .event-datetime {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #000;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 114%;
  color: #838383;
}
@media (max-width: 400px) {
  .event-card .event-datetime {
    font-size: 9px;
    margin-bottom: 4px;
  }
}
.event-card .event-datetime img {
  margin-bottom: 3px;
}
.event-card .card-body {
  padding: 0;
  padding-top: 16px;
}
.event-card .card-title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 130%;
  margin-bottom: 16px;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 400px) {
  .event-card .card-title {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
.event-card .price {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  background-color: #bb8a4d;
  color: #fff;
  border-radius: 18px;
  padding: 4px 8px;
  width: 83px;
  height: 28px;
}
.event-card .status-cancelled {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  background-color: #dcdcdc;
  color: #000;
  border-radius: 18px;
  padding: 4px 8px;
  display: none;
}
@media (max-width: 576px) {
  .event-card .tag {
    font-size: 9px;
    line-height: 133%;
    padding: 3px 6px;
  }
}

.event-card.event-card-cancelled {
  border: 24px solid #fff;
  border-bottom: 16px solid #fff;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0 0 0 1px #f4f4f4;
}
@media (max-width: 400px) {
  .event-card.event-card-cancelled {
    border: 8px solid #fff;
    box-shadow: 0 4px 16px 0 rgba(123, 104, 56, 0.15), 0 0 25px 0 rgba(123, 104, 56, 0.1);
    border-radius: 16px;
  }
}
.event-card.event-card-cancelled .card-title {
  color: #747474;
}
.event-card.event-card-cancelled img {
  filter: grayscale(100%);
}
.event-card.event-card-cancelled .price {
  display: none;
}
.event-card.event-card-cancelled .status-cancelled {
  display: block;
}

/* Кнопка-иконка в карточке */
.banner-block img {
  width: 100%;
}

.banner-wrapper {
  order: 13;
}

.vertical-banner {
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
}
.vertical-banner img {
  width: 100%;
  height: 100%;
}

.button-all {
  display: flex;
  justify-content: center;
  margin: auto;
}
.button-all .btn {
  background-color: #bb8a4d !important;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: #fff;
  border-radius: 16px;
  padding: 8px 16px;
}
.button-all .btn:hover {
  background-color: #9b703b !important;
  color: #fff;
}
.button-all .btn:active {
  background-color: #76552d !important;
  color: #fff;
}

/*FOOTER*/
.footer {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #fff;
}
.footer__wrapper {
  background-color: #434343;
  border-radius: 24px 24px 0 0;
  padding: 48px;
}
@media (max-width: 768px) {
  .footer__wrapper {
    padding: 24px;
  }
}
@media (max-width: 768px) {
  .footer__margin-minus {
    margin-top: -18px;
  }
}
@media (max-width: 400px) {
  .footer__margin-minus {
    margin-top: -103px;
  }
}
.footer__row {
  row-gap: 2rem;
}
@media (max-width: 768px) {
  .footer__row {
    row-gap: 0rem;
  }
}
.footer__column {
  font-size: 16px;
}
.footer__logo {
  width: 48px;
  height: 48px;
}
.footer__phone {
  font-weight: 500;
  font-size: 16px;
}
.footer__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 24px;
  margin-bottom: 14px;
}
@media (max-width: 400px) {
  .footer__title {
    font-size: 16px;
  }
}
.footer__list {
  margin: 0;
  padding: 0;
}
.footer__item {
  margin-bottom: 8px;
}
.footer__link {
  color: #838383;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 400px) {
  .footer__link {
    font-size: 12px;
    line-height: 1.33;
  }
}
.footer__link:hover {
  color: #fff;
}
.footer__divider {
  margin-top: 40px;
  border-top: 1px solid #595959;
}
@media (max-width: 768px) {
  .footer__divider {
    margin-top: 16px;
  }
}

.social {
  display: flex;
  gap: 0.25rem;
}
.social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #f2f2f2;
  border-radius: 8px;
  transition: background 0.2s;
}
.social__icon:hover {
  background-color: #bb8a4d;
}
.social__icon:hover .social__svg {
  fill: #fff;
}
.social__icon:active {
  background-color: #2b2b2b;
}
.social__icon:active .social__svg {
  fill: #fff;
}
.social__icon .social__svg {
  fill: #434343;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .row-xxl-5-cols > .col {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .banner-wrapper {
    order: 16;
  }
  .row-xxl-5-cols .col:nth-child(n+28) {
    display: none !important;
  }
}

/*# sourceMappingURL=style.css.map */
